@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

@responsive {
  .showAllCards > div + div ~ div {
    @apply -ml-10;
  }

  .showOnlyTwoCards > div + div ~ div {
    @apply -ml-12;
  }

  .hasHiddenCards > div:nth-child(2) {
    margin-left: -2.8rem;
  }

  .hasHiddenCards > div:nth-child(n + 3) {
    margin-left: -2.8rem;
  }

  .hasHiddenCards > div:nth-child(n + 4) {
    margin-left: -3.5rem;
  }

  .noHiddenCards > div:nth-child(n + 2) {
    margin-left: -3.5rem;
  }
}
