@tailwind base;

@font-face {
  font-family: Roboto;
  font-weight: 700;
  src: url(/fonts/Roboto-Bold.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url(/fonts/Roboto-Regular.woff) format("woff");
}

@tailwind components;

@tailwind utilities;

@responsive {

  :root.preferDarkMode {
  }

  .showOnlyTwoCards > div ~ div {
    margin-left: -3.5rem;
  }

  .showOnlyTwoCards > div:not(:last-child) {
    transform: rotateZ(-12deg);
  }

  .showOnlyTwoCards > div:first-child {
    transform: rotateZ(-24deg);
  }

  .showAllCards > div {
    transform: none !important;
  }

  .showAllCards > div ~ div {
    margin-left: -2rem;
  }

  .hasHiddenCards > div:nth-child(2) {
    margin-left: -2.8rem;
  }

  .hasHiddenCards > div:nth-child(n + 3) {
    margin-left: -2.8rem;
  }

  .hasHiddenCards > div:nth-child(n + 4) {
    margin-left: -3.5rem;
  }

  .noHiddenCards > div:nth-child(n + 2) {
    margin-left: -3.5rem;
  }

  .tableGroupSm {
    padding-right: 2.3rem;
  }

  .tableGroupMd {
    padding-right: 3.3rem;
  }
}
